<pre>
1. 넘파이를 사용하여 다음과 같은 행렬을 만드시오.
10 20 30 40
50 60 70 80
</pre>

In [1]:
import numpy as np

In [2]:
a=np.array([[10,20,30,40],[50,60,70,80]])
a

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

<pre>
2. 다음 행렬과 같은 행렬이 있다.
m = np.array([[ 0, 1, 2, 3, 4],
 [ 5, 6, 7, 8, 9],
 [10, 11, 12, 13, 14]])
1) 이 행렬에서 값 7 을 인덱싱한다.
2) 이 행렬에서 값 14 을 인덱싱한다.
3) 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
4) 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
5) 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.
</pre>

In [4]:
m= np.array([[ 0, 1, 2, 3, 4], 
 [ 5, 6, 7, 8, 9], 
 [10, 11, 12, 13, 14]])

In [5]:
# 7 인덱싱
m[1,2]

7

In [6]:
# 14인덱싱
m[2,-1]

14

In [9]:
# [6,7] 슬라이싱
m[1:2,1:3]

array([[6, 7]])

In [11]:
# [7,12] 슬라이싱
m[1:,2:3]

array([[ 7],
       [12]])

In [14]:
# [[3, 4], [8, 9]] 슬라이싱
m[:2,3:5]

array([[3, 4],
       [8, 9]])

<pre>
3. 2번의 행렬 m을 1차원 벡터 f 로 변환한 후 다음의 문제를 푸시오.
1) 이 배열에서 3의 배수를 찾아라.
2) 이 배열에서 4로 나누면 1이 남는 수를 찾아라.
3) 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.
</pre>

In [52]:
# 1차원 변경
m.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [54]:
# 3의배수
m[m%3==0]

array([ 0,  3,  6,  9, 12])

In [55]:
# 4로 나누면 1이 남는 수
m[m%4==1]

array([ 1,  5,  9, 13])

In [59]:
# 3으로 나누면 나누어지고, 4로 나누면 1이 남는 수
m[(m%3==0) + (m%4==1)]

array([ 0,  1,  3,  5,  6,  9, 12, 13])

<pre>
4. 값을 직접 입력하지 말고우측의 행렬을 만드시오.

2, 1, 0, 0, 0
3, 2, 1, 0, 0
0, 3, 2, 1, 0
0, 0, 3, 2, 1
0, 0, 0, 3, 2
</pre>

In [30]:
np.eye(5,5, k=-1, dtype=int)*3 + np.eye(5,5, k=0, dtype=int)*2 + np.eye(5,5, k=1, dtype=int)

array([[2, 1, 0, 0, 0],
       [3, 2, 1, 0, 0],
       [0, 3, 2, 1, 0],
       [0, 0, 3, 2, 1],
       [0, 0, 0, 3, 2]])

<pre>
5. 0에서 10까지 랜덤 실수값으로 이루어진 5 x 6 형태의 데이터 행렬을 만들고 이 데이터에
대해 다음과 같은 값을 구하시오.
1) 전체의 최댓값
2) 각 행의 합
3) 각 행의 최댓값
4) 각 열의 평균
5) 각 열의 최솟값
</pre>

In [43]:
b= np.random.randint(0,11,size=(5,6))
b

array([[ 0,  4,  8,  5,  6,  2],
       [ 4,  9,  2,  7,  2,  0],
       [ 1,  9,  5,  8, 10,  2],
       [ 8,  0,  6, 10,  4,  6],
       [ 6,  8,  3,  5,  0,  5]])

In [45]:
# 각 행의 합
b.sum(axis=1)

array([25, 24, 35, 34, 27])

In [46]:
# 각 행의 최대값
b.max(axis=1)

array([ 8,  9, 10, 10,  8])

In [47]:
# 각 열의 평균
b.mean(axis=0)

array([3.8, 6. , 4.8, 7. , 4.4, 3. ])

In [48]:
# 각 열의 최소값
b.min(axis=0)

array([0, 0, 2, 5, 0, 0])

<pre>
6. 다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 세번째 행에 수학 성적을 적은
배열이다. 영어 성적을 기준으로 각 열(column)을 재정렬하시오.
array([[ 1, 2, 3, 4],
 [ 46, 99, 100, 71],
 [ 81, 59, 90, 100]])
</pre>

In [76]:
a=([[ 1, 2, 3, 4],
 [ 46, 99, 100, 71],
 [ 81, 59, 90, 100]])

np.array(a)
np.argsort(a[1],axis=0)

array([0, 3, 1, 2], dtype=int64)

<pre>
7. 주사위를 100번 던지는 가상 실험을 파이썬으로 작성하고, 
던져서 나오는 숫자의 평균을 구하시오.
</pre>

In [51]:
c= np.random.randint(1,7,size=100)
np.mean(c)

3.33

<pre>
8. 가격이 10,000원인 주식이 있다. 이 주식의 일간 수익률(%)은 기댓값이 0%이고 표준편차가 1%
인 표준 정규 분포를 따른다고 하자. 250일 동안의 주가를 무작위로 생성하시오.
</pre>

In [50]:
np.random.normal(10000,1,250)

array([10000.69507608, 10001.03338841,  9999.9784572 , 10000.14961287,
       10001.11006614,  9998.93067353, 10001.15735803, 10000.3246939 ,
        9998.56717399, 10000.53634052,  9998.90128783,  9997.71047993,
        9999.22242379, 10000.2073799 ,  9998.47397994,  9999.51154268,
       10001.4142608 , 10001.35290706, 10001.67602984, 10000.96451862,
       10002.10931446, 10000.4080327 , 10000.46772459,  9999.84033195,
        9999.63124794, 10001.00178741,  9998.95384636,  9999.45336827,
       10000.70539213, 10000.29739256, 10000.15681775,  9999.71450501,
        9999.14289825, 10001.48025785, 10000.59702906,  9999.66559506,
        9999.25672769,  9998.79342774, 10000.06330307,  9998.3408492 ,
        9999.1970091 , 10001.35360396,  9998.90818197, 10000.46858485,
       10001.74537297,  9999.84796347, 10000.29457387, 10000.57237616,
        9999.98276153, 10000.80193986,  9997.4018492 ,  9998.26192244,
       10000.90838108, 10000.36071237,  9999.63743185, 10000.55636687,
        9998.58010314,  9999.88300402, 10002.02211147, 10002.41133424,
       10001.28600987,  9999.98178331, 10000.63141823, 10000.72353199,
        9999.22469913, 10000.08580067, 10000.77876979, 10000.526551  ,
       10000.42469867, 10000.71710075, 10000.4159856 ,  9998.8013458 ,
        9999.82287687, 10000.85727699,  9998.28564323,  9999.74761897,
        9999.26652597, 10000.38291505,  9999.61820192, 10000.7425566 ,
       10000.28370757,  9998.59009265, 10001.18586054,  9999.73821139,
       10000.28621015, 10000.76211432, 10001.37110233,  9999.87739784,
       10000.54780943,  9999.86040814,  9998.77780823, 10001.45765925,
       10001.22568223, 10001.98004714, 10000.08769968, 10001.37899989,
       10001.85829707, 10002.14836748,  9997.56451088,  9999.5893223 ,
        9999.76807335, 10000.44005007,  9999.82586296, 10000.14234053,
       10000.33659803, 10000.59008307, 10002.17584134,  9999.9831773 ,
        9999.91898116, 10001.07699978, 10001.12287232,  9998.49123799,
       10000.38446004,  9998.3926809 , 10000.28627195,  9999.20476225,
       10000.68595128,  9999.39646662, 10001.55948694,  9998.93485712,
       10000.10914822, 10001.48685244,  9999.69172954, 10000.71238795,
        9999.98812518,  9997.66425552,  9999.53613211, 10000.48166192,
       10000.48737876,  9999.49820016, 10000.10376896, 10000.44464076,
       10000.295808  ,  9999.34517321,  9998.08951613, 10000.91225254,
       10000.31336444,  9999.9171054 , 10000.08486514,  9999.3836442 ,
        9999.13326113, 10001.98107064, 10001.3685406 ,  9999.23040053,
        9999.87018614,  9998.91207661, 10001.45034489, 10000.58000937,
       10001.16229266, 10000.15524076, 10000.0994729 , 10000.19362882,
        9998.32632337,  9998.88712796,  9999.62551464,  9999.76579601,
       10000.1613463 , 10000.79899172,  9998.36344899,  9998.73543575,
       10000.66172446, 10001.01383389, 10000.44304762, 10000.9464615 ,
       10000.58932907,  9999.80226761,  9998.60366843,  9998.67206487,
       10000.47392743,  9999.28189889, 10000.96904987, 10000.24966136,
        9999.90691208,  9999.58201224,  9999.36707244, 10001.31661665,
        9999.31630049,  9998.26784155,  9998.84261096,  9999.25841597,
        9999.11229182, 10001.13126288,  9998.69273714, 10000.79629812,
        9999.21625129,  9999.205944  ,  9998.3963939 , 10000.57013975,
        9999.85986351,  9999.45640673, 10000.23393597,  9999.59907222,
       10000.3626394 , 10000.81737947, 10001.29157717, 10000.19609073,
        9999.51248572,  9998.65017484, 10000.15789342,  9997.93776024,
        9998.89019385,  9998.95705145,  9999.60811689, 10000.36705009,
        9997.88409943, 10000.32469198, 10000.12342639,  9999.5981933 ,
        9997.48095721,  9998.55313159, 10001.31405869, 10001.11065167,
       10000.61822017, 10000.1868608 ,  9999.66444159, 10001.2633338 ,
        9999.61632632,  9999.25670314, 10000.02931173,  9998.91267423,
       10000.12259455,  9998.6915134 ,  9999.91624608, 10001.13288831,
       10000.4420616 ,  9998.88645907, 10000.53115071, 10001.83721429,
        9999.40504125,  9999.25160291, 10000.93319572, 10000.46389963,
       10000.24123191, 10000.55295269, 10000.53338811, 10002.40568282,
        9998.87523015, 10000.56212076, 10000.48897348,  9999.41697264,
        9999.21922531, 10004.04361084,  9999.10511297,  9999.62157638,
       10000.80981361,  9998.22754878, 10000.39932342, 10000.45792402,
       10001.67904534,  9999.63182158])